@import "Colors";

.image_container {
    background-color: $light-grey;
    display: flex;
    justify-content: center;
    margin-top: 10vh;

    img {
        width: 100%;
        max-width: fit-content;
        height: 50vh;
    }
}