@use 'utilities/Mixins';
@use 'utilities/Colors';

.header {
	flex-grow: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: Colors.$white;
	box-shadow: 0 3px 15px Colors.$dark-grey;
	z-index: 5;

	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100vw;
		max-width: 100vw;
		height: fit-content;
		box-sizing: border-box;
		padding: 10px 15px;
		margin: 0;

		.title {
			@include Mixins.clickable;
			font-size: 40px;
			margin-right: auto;
			padding: 0 15px;
			color: Colors.$dark-blue;
			font-weight: bold;
			transition: color 0.3s ease;

			&:hover {
				color: darken(Colors.$dark-blue, 10%);
			}

			@media (max-width: 650px) {
				display: none;
			}
		}

		img {
			height: 48px;
			width: 48px;
			transition: transform 0.3s ease;

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
