@import "Mixins";
.header {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        div {
            display: flex;  
        }

        .title {    
            @include clickable;
            font-size: 40px;
            margin-right: auto;
            padding-bottom: 0.2em;
        }
    }
}