@use "utilities/Mixins";
@use "utilities/Colors";

.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../assets/images/background-map-menu.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    box-sizing: content-box;
    position: absolute;
    z-index: -1;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}


.main_menu {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    
    .catchy_phrase {
        color: Colors.$white;
        text-shadow: 3px 3px 10px Colors.$black;
        font-size: 60px;
        margin: 40px 0 80px 0;
        justify-content: center;
        text-align: center;
        line-height: 125%;
    }

    .options {
        background-color: Colors.$white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: auto;
        row-gap: 15px;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 3px 3px 15px Colors.$dark-grey;

        .menu_option {
            @include Mixins.button;
            font-size: 20px;
            padding: 15px;
            background-color: Colors.$dark-blue;
            border-radius: 100px;
            width: 250px;
            max-width: 90vw;
            text-align: center;
            
        }
    }
}


