@use 'utilities/Colors';

.page {
	min-height: 100vh;
	padding: 40px 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
		url('../assets/images/background-map-menu.png');
	background-size: cover;

	button {
		padding: 8px 20px;
		background-color: Colors.$dark-blue;
		color: Colors.$white;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		font-weight: 500;
		transition: background 0.2s;
		box-shadow: 0 2px 16px #05051520;
		&:hover {
			background-color: darken(Colors.$dark-blue, 8%);
		}
	}

	.container {
		max-width: 1000px;
		margin: 0 auto;
		padding: 40px 24px 24px 24px;
		display: flex;
		flex-direction: column;
		gap: 20px;

		.about_page {
			letter-spacing: 1px;
			margin-top: 40px;
			padding: 10px;
			background-color: Colors.$white;
			border-radius: 12px;
			border: 2px solid Colors.$dark-blue;
			box-shadow: 0 2px 16px #05051520;
		}

		.place_queue {
			background-color: Colors.$white;
			padding: 24px;
			text-align: center;
			margin: 10px 0 0 0;
			border-radius: 12px;
			border: 1.5px solid Colors.$dark-blue;
			box-shadow: 0 2px 16px #05051520;

			.place_entry {
				display: grid;
				grid-template-columns: 1.5fr 1fr auto;
				align-items: center;
				gap: 16px;
				padding: 16px 0;
				border-bottom: 1px solid Colors.$lighter-grey;

				&:last-child {
					border-bottom: none;
				}

				p {
					margin: 0;
					font-size: 1.05rem;
					color: Colors.$dark-blue;
				}
			}
		}

		.place_details {
			display: flex;
			flex-direction: column;
			gap: 16px;
			margin-top: 32px;
			background-color: Colors.$white;
			border-radius: 12px;
			border: 2px solid Colors.$dark-blue;
			box-shadow: 0 2px 16px #05051520;
			padding: 24px;
			img {
				max-width: 100%;
				max-height: 500px;
				height: auto;
				border-radius: 12px;
				box-shadow: 0 2px 12px #05051515;
				display: block;
				margin: 0 auto;
			}
			.buttons {
				display: flex;
				flex-direction: column;
				gap: 10px;
				div {
					display: flex;
					flex-direction: column;
					gap: 10px;
				}
				button {
					padding: 8px 20px;
					background-color: Colors.$dark-blue;
					color: Colors.$white;
					border: none;
					border-radius: 8px;
					cursor: pointer;
					font-weight: 500;
					transition: background 0.2s;
					box-shadow: 0 2px 12px #05051515;
					&:hover {
						background-color: darken(Colors.$dark-blue, 8%);
					}
				}
				.delete_button {
					background-color: Colors.$dark-red;
					&:hover {
						background-color: darken(Colors.$dark-red, 8%);
					}
				}
			}

			// edit mode
			.form {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}
		}
	}
}

// min width 1024 px
@media (min-width: 1024px) {
	.page {
		.container {
			.place_details {
				.buttons {
					flex-direction: row;
					justify-content: space-between;
					gap: 16px;
					div {
						display: flex;
						flex-direction: row;
						gap: 24px;
					}
				}
			}
		}
	}
}
