@import "Colors";

.scoreboard {
    text-align: center;
    margin: 5rem;
}

.record {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid $light-grey;
}