@use 'utilities/Colors';

h1 {
	padding: 20px 0;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 1400px;
	margin: 0 auto;
	padding: 16px;
	& > * {
		margin: 16px 0px;
	}
}

.formBox {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.inputField {
	display: flex;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 8px;
	label {
		margin-right: 8px;
	}
	input,
	select {
		padding: 4px;
		font-size: 16px;
		flex: 1; // Allow input and select to take up remaining space
	}
}

.findButton {
}

table {
	width: 100%;
	border: 2px solid Colors.$dark-blue;
	border-radius: 16px;
	table-layout: fixed;
	box-sizing: border-box;
	thead {
		tr {
			th {
				font-weight: 600;
				font-size: 16px;
				text-transform: uppercase;
				padding: 4px 16px;
			}
			margin-bottom: 16px;
		}
	}
	tbody {
		tr {
			td {
				text-align: center;
				white-space: wrap;
				overflow: hidden;
				font-size: 12px;
				padding: 4px 16px;
			}
			&:nth-child(2n) {
				background-color: lighten(Colors.$dark-blue, 75%);
			}
		}
	}
}

.pagesBox {
	display: flex;
	justify-content: center;
	align-items: center;

	.boxNumber {
		padding: 10px 16px;
		background-color: Colors.$dark-blue;
		color: Colors.$white;
		border-radius: 16px;
		cursor: pointer;
		margin: 4px 8px;
	}

	.activePage {
		color: Colors.$dark-blue;
		background-color: Colors.$white;
		font-weight: bold;
		text-decoration: underline;
		border: 1px solid Colors.$dark-blue;
	}
}

.rankingButton {
	padding: 10px 20px;
	background-color: Colors.$dark-blue;
	border-radius: 16px;
	text-align: center;
	border: 1px solid Colors.$dark-blue;
	color: Colors.$white;
	transition: 0.3s color ease-in-out, 0.3s background-color ease-in-out;
	cursor: pointer;

	&:hover {
		color: Colors.$dark-blue;
		background-color: Colors.$white;
	}
}

@media (min-width: 768px) {
	.findButton {
		align-self: flex-end;
		padding: 8px 36px;
	}
	.backToMenuButton {
		align-self: flex-start;
	}

	.formBox {
		flex-direction: row;
	}

	.inputField {
		margin-right: 16px;
		input,
		select {
			flex: 0;
		}
	}

	table {
		thead {
			tr {
				th {
					padding: 12px 16px;
				}
				margin-bottom: 16px;
			}
		}
		tbody {
			tr {
				td {
					text-align: center;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 16px;
					padding: 12px 16px;
				}
			}
		}
	}
}
