@use "Colors";

@mixin clickable {
    cursor: pointer;
}

@mixin link {
    @include clickable;

    &:hover {
        text-decoration: underline;
    }
}

@mixin button {
    @include clickable;
    
    background-color: Colors.$dark-blue;
    color: Colors.$white;
    border-radius: 5px;
    border: none;

    &:hover {
        background-color: Colors.$darker-blue;
    }
}