$black: #000000;

$grey: #272727;
$dark-grey: #1f1f1f;
$light-grey: #929292;
$lighter-grey: #bdbdbd;

$dark-blue: #003865;
$darker-blue: #002d51;

$dark-red: #c10a27;
$darker-red: #a40a23;

$white: #ffffff;
